<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Test App</title>
    <style>
        .iconsStyle { width: 200px; display: block; margin-right: auto; margin-left: auto; margin-bottom: 5px;margin-top:250px}
    </style>
</head>
<body>
    <a href="https://www.facebook.com/dialog/oauth?client_id={{ settings.FACEBOOK_APP_ID }}&redirect_uri={{settings.FACEBOOK_REDIRECT_URI}}"><img class ="iconsStyle" src="/static/loginFb.png"></a> 
</body>
</html>



